* {
  font-family: Roboto;
}

.weather-widget {
  position: absolute;
  width: 500px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}

.weather-widget__top-left {
  top: 0;
  left: 0;
}

.weather-widget__top-right {
  top: 0;
  right: 0;
}

.weather-widget__bottom-right {
  bottom: 0;
  right: 0;
}

.header-top-wrap {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.header-bottom-wrap {
  padding: 2%;
}

.header__weather-icon {
  height: 100px;
  display: block;
  margin: 0 auto;
}

.city-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.header-wrap {
  position: relative;
  background-color: #00aef0;
  color: #fff;
}

.footer-wrap {
  display: flex;
  flex-direction: row;
}

.live-temp {
  display: flex;
  flex-direction: column;
  display: flex;
  text-align: center;
  padding: 4%;
  width: 50%;
  h2 {
    font-size: 2em;
    margin: 10% 0;
  }
}

.live-weather {
  padding: 4% 0;
}

.live-weather-wrap {
  display: flex;
  padding-top: 10px;
  width: 35%;
  align-items: stretch;
}

.scroll-area-container {
  width: 2750px;
}

.live-weather__icon {
  .svg-inline--fa {
    fill: #bebebe;
    display: block;
    margin: 16% auto;
    width: 50px;
    height: 50px;
  }
}

.scrollarea {
  width: 65%;

  .scrollarea-content {
    display: flex;
    margin-top: 5% !important;
    margin-bottom: 3% !important;
  }
}

.live-weather__span {
  font-size: 0.8em;
  display: block;
  text-align: center;
}

.forecast-item {
  display: flex;
  width: 70px;
  font-size: 0.8em;
  flex-direction: column;
  align-items: center;
  border-left: #dadada 1px solid;
}

.forecast-item__icon {
  .svg-inline--fa {
    fill: #bebebe;
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 50px;
  }
}

.svg-inline--fa {
  fill: #fff;
  display: block;
  margin: 0 auto;
  height: 100px;
}

.draggable-block {
  cursor: move;
  height: 20px;
  background-color: #dfdfdf;
}