$color: #f00;

h1 {
    color: $color;
}

body {
    font-family: Roboto;
}

.weatherWidget {
    position: absolute;
    width: 500px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
}

.header__top__wrap {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.header__bottom__wrap {
    padding: 2%;
}

.city__info {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header__wrapper {
    position: relative;
    background-color: #00aef0;
    color: #fff;
    i {
        font-size: 4em;
        display: flex;
        justify-content: center;
    }
}

.footer__wrap {
    display:flex;
    flex-direction: row;
}

.liveTemp {
    display: flex;
    flex-direction: column;
    display: flex;
    text-align: center;
    padding: 4%;
    width: 50%;
    h2 {
        font-size: 2.3em;
        margin: 10% 0;
    }
}

.liveIcon {
    align-items: center;
    font-size: .8em;
    padding: 6.5%;
    width: 50%;
    i {
        display: flex;
        justify-content: center;
        font-size: 3em;
        margin: 30% 0;
    }
}

.liveWeather__wrap {
    display: flex;
    width: 35%;
    align-items: stretch;
}

.long {
    min-width: 2650px;
}

.scrollarea {
    width: 65%;

    .scrollarea-content {
        display: flex;
        margin-top: 5% !important;
        margin-bottom: 3% !important;
    }
}


.forecastItem {
    padding: 5px 18px;
    display: flex;
    font-size: .8em;
    flex-direction: column;
    align-items: center;
    border-left: #dadada 1px solid;
    i {
        display: flex;
        justify-content: center;
        font-size: 2em;
        margin: 20% 0;
    }
}